
.navbar{
    background-color:#d4d7de;
}

/* .navbar-dark .navbar-brand {
    color: #000;
} 

.navbar-dark .navbar-nav .nav-link{
    color: #000;
} */

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    /* color: #fff; */
    color: #000;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #7eb444;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

#home{
    /* background-image: url('https://i.pinimg.com/originals/45/3f/14/453f143ad31ed8482ebed9c4084b8059.jpg'); */
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #83a4d4, hsl(183, 100%, 86%)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #83a4d4, #b6fbff); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.jumbotron {
    /* background: linear-gradient(0deg, rgba(34,193,195,0.8) 0%, rgba(33,197,236,0.5) 100%); */
    background-color: #474e5d;
    height: auto;
    margin: auto;
}
.contain{
    text-align: center;
    padding: 10px;
}
.contain span{  
    text-transform: uppercase;
    display: block;
    padding: 3px;
}

a {
    text-decoration: none !important;
}
.text1{
    color:#FFFACD;    
    font-size: 5vw;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 2vw;
    margin-bottom: 3px;
    animation: text 5s 1;
}
.text2{
    font-size: 2em;
    font-weight: 300;
    /* color: #6ab04c; */
    color: #1E90FF;
    color: #fca70a;
}
.header span {
    letter-spacing: 0.1em;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    width: 100%;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom:-50px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -30px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}

